.boards {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
  padding: 1rem;
}

.boards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .25rem;
  border-radius: 3px;
  transition: 0.2s;
    
  &:hover {
      transform: scale(1.005);
      box-shadow: 0 15px 30px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.20);
      cursor: pointer;
    }
}
