.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  max-width: 1024px;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 15px 15px rgba(256,256,256,0.25), 0 15px 15px rgba(256,256,256,0.20);
  transition: 0.2s;
    
  &:hover {
      transform: scale(1.005);
      box-shadow: 0 15px 30px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.20);
      cursor: pointer;
    }
}
