.columns-container {
  padding: 0px 10px 0px 10px;
  max-width: 100vw;
}
@media (max-width: 1024px) {
  .columns-container {
      overflow-x: scroll;
      
        &::-webkit-scrollbar {
          height: 5px;
          width: 5px;
        }
      
        &::-webkit-scrollbar-track {
          background-color: #1890ff;
          border-radius: 20px;
          border: 2px solid rgba(255, 255, 255, 0.7);
        }
      
        &::-webkit-scrollbar-thumb {
          background: #1890ff;
          border-radius: 20px;
        }
  }
}

.column-list {
  display: flex;
  padding-top: 10px;
  gap: 20px;
  padding-bottom: 10px;
  min-width: 300px;
}
.droppable {
  background-color: gainsboro;
}

.column-item {
  display: flex;
  flex-direction: column;
  flex-basis: content;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 00px;
  max-width: 300px;
  height: min-content;
  max-height: 80vh;
  background-color: rgb(201, 239, 240);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.20);  
}

.draggable {
   background-color: rgb(32, 196, 203);
 }

.column-item-header {
  display: flex;
  justify-content: space-between;
}

.task-item {
  max-width: 250px;
}

.text-cut {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
}

.text-cut-editable {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
  cursor: pointer;
}