.burger {
  z-index: 1000;
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
}

@media (max-width: 670px) {
  .burger {
    display: block;
  }
}

.burger-down-layer {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  top: -30px;
  left: -500px;
  right: 0px;
  width: 220px;
  height: 100vh;
  cursor: pointer;
}

.burger-view {
  transform: translateX(300px);
  transition: .5s ease-in;
}

.burger-no-view {
  transform: translateX(0);
  transition: .5s ease-out;
}

.burger-btn {
  z-index: 1200;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.burger-menu {
  z-index: 1100;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: large;
  position: absolute;
  right: -20px;
  top: -20px;
  margin: 10 auto;
  padding: 60px 10px;
  width: 300px;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.5);
}

.menu-item-title {
  margin-left: 5px;
  cursor: pointer;
  color: azure;
}
.menu-item {
  transition: .5 ease;
}
.menu-item:hover :last-child {
  z-index: 1100;
  color: gainsboro;
}

.menu-item:hover .icon {
  transform: translateY(-1px);
  box-shadow: 0px 3px 3px brown;
}