.footer {
  padding: 1rem;
  display: flex;
  flex: 0 0 auto;
  height: 4rem;
  justify-content:space-around;
  background-color: #292A2D;
  width: 100%;

  &__container {
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    width: 100%;
  }

  &__logo {
    display: block;
    background: url('../../media/rss_logo.svg') no-repeat;
    background-size: contain;
    width: 100px;
    max-height: 100px;
    height: 100%;
  }

}


.footer__year {
  color: white;
}

.footer__github {
  text-decoration: none;
  color: white;
  transition: 0.5s;

  &:hover {
    color:darkcyan
  } 
}

@media screen and (max-width: 567px) {

  .footer{
    height: auto;

    &__container{
      padding-top: .5rem;
      gap: 1rem;
      flex-direction: column;
    }

    &__logo{
      height: 50px;
    }

  }
  
}