.loader {
  display: inline-block;
  transform: translateZ(1px);
  text-align: center;
  height: 100vh;
  padding-top: 20px;
  & > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: black;
    animation: loader 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
}

@keyframes loader {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
}

.error-fetch {
  padding-top: 20px;
  text-align: center;
}

.limit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.MuiPagination-root {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hidden {
  opacity: 0;
}
